* { margin: 0; padding: 0;}

header {
  background: url(bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;

  min-height: 600px;
  padding: 4em 2em 2em 200px;
  margin-bottom: 2em;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header h1 {
  color: #f1f1f1;
  font-size: 4em;
  line-height: 1em;
  text-transform: uppercase;
  padding-bottom: 1em;
}
nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  color:white;
}
nav ul li{
  text-align:right;
}

footer {
	display:flex;
	flex-flow: row wrap;
	
    left: 0;
    bottom: 0;
	height:100%;
    width: 100%;
    background-color: #202020;
    color: white;
    text-align: center;
	font-size: 14px;
}
.footer_top {
	width:50%;
	margin-top:1em;
}
.footer_top p {
	padding: 2px;
}

.footer_bottom {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top:1em;
  padding:1em;
  border-top: 1px solid white;
}