* { margin: 0; padding: 0;}

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-3 {
      width: 25%; } }

header {
	background-image: url(bg-subpage.jpg);
    background-size: cover;
	background-position: 50% 50%; 
	
	color: white;
	min-height: 400px;
	align-items: center;
	height: 90%; 
    width:100%;
    display:flex;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header h1 {
	color:white;
	font-size: 4em;
	padding-left:1em;
}

.þjonusta__col {

  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 80px 0 20px; 
}

.þjonusta {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: bold;
}

ul {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  color:white;
  list-style-type:none;
  margin:0;
  padding:0;
}
li{
  float:left;
   padding: 14px 16px;
}
li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.texti1__col {
  
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 20px; 
  
}

.texti1__fyrirsogn {

  margin: 0 0 40px; 
}

.texti1 p{
	font-size: 16px;
}

.texti2 p{
	font-size: 16px;
}

.texti3 p{
	font-size: 16px;
}

.quote__col {

  padding-right: 10px;
  padding-left: 10px;
  margin: 40px 0 0 120px; 
  font-size: 16px;
}

.quote__col p {
	font-size: 24px;
	font-style: italic;
	margin-bottom: 20px;
}

.texti2__col {

  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 20px; 
}

.texti3__col {

  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 100px 0; 
}

footer {
	display:flex;
	flex-flow: row wrap;
    left: 0;
    bottom: 0;
	height:100%;
    width: 100%;
    background-color: #202020;
    color: white;
    text-align: center;
	font-size: 14px;
}

.footer_top {
	width:50%;
	margin-top:1em;
}

.footer_top p {
	padding: 2px;
}

.footer_bottom {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top:1em;
  padding:1em;
  border-top: 1px solid white;
  color:grey;
}

.textiquote {
	display: flex;
	@media (min-width: 400px) {
		display: block;
	}
}

.textinn {
	
	max-width: 800px;
	@media (min-width: 600px) {
		max-width: 600px;
	}

}