* { margin: 0; padding: 0;}

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-3 {
      width: 25%; } }

header {
	background-image: url(bg-subpage.jpg);
    background-size: cover;
	background-position: 50% 50%; 
	
	color: white;
	min-height: 400px;
	
}

body {
	font-family: 'Open Sans', sans-serif;
}

header ul {

  line-height: 400px;

}

.þjonusta__col {

  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 80px 0 20px; 
}

.þjonusta {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: bold;
}

nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  color:white;
}

nav ul li{
  text-align:right;
}

.texti1__col {
  
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 20px; 
  
}

.texti1__test {

  margin: 0 0 40px; 
}

.texti1 p{
	font-size: 16px;
}

.texti2 p{
	font-size: 16px;
}


.texti3 p{
	font-size: 16px;
}

.quote {

  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 40px 0 0 120px; 
  font-size: 16px;
}

.quote p {
	font-size: 24px;
	font-style: italic;
	margin-bottom: 20px;
}

.texti2__col {

  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 20px; 
}

.texti3__col {

  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 100px 0; 
}

footer {
	display:flex;
	flex-flow: row wrap;
    left: 0;
    bottom: 0;
	height:100%;
    width: 100%;
    background-color: #202020;
    color: white;
    text-align: center;
	font-size: 14px;
}

.footer_top {
	width:50%;
	margin-top:1em;
}

.footer_top p {
	padding: 2px;
}

.footer_bottom {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top:1em;
  padding:1em;
  border-top: 1px solid white;
}

.test {
	display: flex;
}

.test2 {
	max-width: 600px;
}