* { margin: 0; padding: 0;}

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-3 {
      width: 25%; } }

header {
	background-image: url(bg-subpage.jpg);
    background-size: cover;
	background-position: 50% 50%; 
	
	color: white;
	min-height: 400px;
	
}

body {
	font-family: 'Open Sans', sans-serif;
}

header ul {

  line-height: 400px;

}

.þjonusta__col {

  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 80px 0 20px; 
}

.þjonusta {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: bold;
}

nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  color:white;
}

nav ul li{
  text-align:right;
}

.texti1__col {
  
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 20px; 
  
}

.texti1__test {

  margin: 0 0 40px; 
}

.texti1 p{
	font-size: 16px;
}

.texti2 p{
	font-size: 16px;
}

.quote {
	font-size: 18px;
}

.texti3 p{
	font-size: 16px;
}

.blockquote__col {

  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 20px; 
}


.texti2__col {

  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 20px; 
}

.texti3__col {

  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 20px; 
}

.footer__col {

  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 0; 
  
}

footer {
	
	text-align: center;
	left: 0;
    bottom: 0;
	height:100px;
    width: 100%;
    background-color: #202020;
    color: white;
    
}

.test {
	display: flex;

}